html
 head
    title type
    block style
    style
       include ../static/style3.css

 body
    block content
    nav 
      h2 Type of Questions 
      .top
       ul 
        li #[a(href='http://localhost:4000/') Home]
        li #[a(href='#') About]
      .o1 
       ul
        li #[a(href='http://localhost:4000/mcqform') MCQ]
      .o2
       ul 
        li #[a(href='http://localhost:4000/scqform') SCQ]
      .o3
       ul 
        li #[a(href='http://localhost:4000/yesno') YES/NO]